<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>IWard</title>
</head>
<body>
   <h1>Welcome to IWard</h1>
   <hr>

   {% for info in infos %}
    <h2>{{ info }}</h2>
    <p>Email : {{ infos[info]['email'] }}</p>
    <p>Token : {{ infos[info]['auth_token'][:4] + '******'}}</p>
    <p>Current balance : {{ infos[info]['balance']}}</p>
    <p>Wards earned today : {{ infos[info]['today_balance']}}</p>
    <p>Validated steps : {{ infos[info]['validated_steps'] }}</p>
    <p>Banned : {{ infos[info]['banned_cheater'] }}</p>
    <div class="button-container">
        <form method="post" action="/validate_step">
            <input type="hidden" value="{{ info }}" name="username"/>
            <button>Validate Steps</button>
        </form>
        <form method="post" action="/refresh">
            <input type="hidden" value="{{ info }}" name="username"/>
            <button>Refresh status</button>
        </form>
    </div>
    <br>
   {% endfor %}

</body>
</html>
