<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>IWard</title>
</head>
<body>
    <h1>Welcome to IWard</h1>
    <form method="post" action="/add_account">
        <label for="email">Email :</label><input type="email" name="email" id="email"/>
        <label for="password">Password :</label><input type="password" name="password" id="password"/>
        <button>Add</button>
    </form>
   <hr>
   {% if error %}
    <div class="alert-box">
        Error : {{ error }}
    </div>
   {% endif %}

   {% for info in infos %}
    <h2>{{ info }}</h2>
    <p>Email : {{ infos[info]['email'] }}</p>
    <p>Token : {{ infos[info]['auth_token'][:4] + '******' }}</p>
    <p>Current balance : {{ infos[info]['balance'] }}</p>
    <p>Wards earned today : {{ infos[info]['today_balance'] }}</p>
    <p>Validated steps : {{ infos[info]['validated_steps'] }}</p>
    <p>Referal : {{ infos[info]['sponsorship_code'] }}</p>
    <p>Banned : {{ infos[info]['banned_cheater'] }}</p>
    <div class="button-container">
        <form method="post" action="/validate_step">
            <input type="hidden" value="{{ info }}" name="username"/>
            <button>Validate Steps</button>
        </form>
        <form method="post" action="/refresh">
            <input type="hidden" value="{{ info }}" name="username"/>
            <button>Refresh status</button>
        </form>
        <form method="post" action="/logout">
            <input type="hidden" value="{{ info }}" name="username"/>
            <button class="logout-btn">Logout</button>
        </form>
    </div>
    {% if not infos[info]['has_fulfilled_sponsorship_code'] %}
    <form method="post" action="/referral">
        <input type="hidden" value="{{ info }}" name="username"/>
        <label for="code-{{ info }}">Referral code :</label><input type="text" name="code" id="code-{{ info }}"/>
        <button>></button>
    </form>
    {% endif %}
    <br>
   {% endfor %}

</body>
</html>
